<!-- Footer -->
<footer class="bg-body-tertiary text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-between p-4 border-bottom">
        <!-- Left: Copyright -->
        <div class="me-5">
            <span>© 2024 Pedro Siqueira. All rights reserved.</span>
        </div>

        <!-- Right: Social media links -->
        <div style="margin-top: 5px;">
            <a href="https://www.instagram.com/_peuhsiqueira/" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/phenriquels/" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/phenriquels01" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </section>

    <p style="font-size: small; text-align: center; margin-top: 10px;",;>This website was made using the <a href="https://horoscope-app-api.vercel.app/">Horoscope API by Ashutosh Krishna.</a></p>
</footer>
